<!--
 * Title: about.component.html
 * Author: Alex Haefner
 * Date: 15 August 2021
 * Description: The about component file for nodebucket app
-->

<div class="container">
  <br />

  <div class="row justify-content-start alert alert-secondary">
    <h1>nodebucket</h1>
    <br />

    <div class="row">
      <div class="column">
        <img
          src="../../assets/img1.jpg"
          alt="nodebucket"
          style="height: 60vh; width: 35vw"
        />
        <p>
          Photo by
          <a
            href="https://unsplash.com/@airfocus?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >airfocus</a
          >
          on
          <a
            href="https://unsplash.com/s/photos/task-management?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Unsplash</a
          >
        </p>
      </div>
      <div class="column">
        <p id="aboutText1">
          Here at nodebucket we believe that it should be easy to view & manange
          time sensitive tasks. In a world that's moving faster than ever, we
          solve the problem of keeping track of what needs to be done each day
          by allowing you to visualize all of your tasks in one place, with
          flexible customizations that let you stay organized on your own terms.
        </p>
      </div>
    </div>
    <div class="row" style="margin-top: 15%">
      <div class="column">
        <p id="aboutText1">
          When we began this project, we began with taking a hard look at how
          projects were managed across IT organizations across the country and
          began identifying problems. Outadated project management & lack of
          organization were two of the biggest issues we were seeing. Thus comes
          the birth of nodebucket. <br /><br />
          Our developers began work dilligently starting with nodebucket's
          design. How can we design a system to manage time-sensitive tasks in
          an elegant, simple way? How can we let the user customize the way they
          want to stay organized? <br /><br />
          These were just a few of the questions we asked our selves before
          writing the first line of code. As you can see, the customer is and
          always has been our main focus & drive. <br /><br />
          We're always in the business of collecting customer feedback, and
          we've heard you loud and clear, so we are pleased to announce that
          nodebucket will officially be supported on mobile devices soon!
        </p>
      </div>
      <div class="column">
        <img
          src="../../assets/img2.jpg"
          alt="nodebucket"
          style="height: 60vh; width: 35vw"
        />
        <p>
          Photo by
          <a
            href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Annie Spratt</a
          >
          on
          <a
            href="https://unsplash.com/s/photos/web-developer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Unsplash</a
          >
        </p>
      </div>
    </div>
    <div class="col-xl-6">
      <br />
    </div>
    <div class="col-xl-6" style="margin-top: 10%">
      <img
        src="../../assets/nodebucket.png"
        alt="nodebucket"
        style="height: 55vh; width: 25vw"
      />
    </div>
  </div>
</div>
