<!--
 * Title: about.component.html
 * Author: Alex Haefner
 * Date: 15 August 2021
 * Description: The about component file for nodebucket app
-->

<div class="container">
  <br />

  <h3>About</h3>
  <br />

  <div class="row justify-content-start alert alert-secondary">
    <h3>nodebucket</h3>
    <br />

    <div class="col-xl-6">
      <br />
      <img
        src="../../assets/taskManagementLogo.png"
        width="15%"
        alt="nodebucket"
      />
      <figcaption>&copy; nodebucket</figcaption>
    </div>

    <div class="col-xl-6">
      <br />
      <p>
        nodebucket revolutionizes the way we handle time sensitive tasks. Create
        tasks and place them in appropriate columns how you see fit. <br />
        COMING SOON! Change the color of your tasks based on priority or time
        sensitivity. Switch between a modern theme or old theme!
      </p>
    </div>
  </div>
</div>
