<!---
 * Title: contact.component.html
 * Author: Alex Haefner
 * Date: 15 August 2021
 * Description: The contact component file for the nodebucket app
 --->
<h1 style="text-align: center; margin-bottom: 10%">Contact Us</h1>
<div fxLayout="row wrap">
  <div fxFlex class="align-center">
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>100 North Murray Blvd</p>
      <p>Colorado Springs, Colorado</p>
    </mat-card-content>
  </div>

  <div fxFlex class="align-center">
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary" style="display: inline-block">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 555-555-5555</p>
      <p>Toll-free: 1-888-555-5555</p>
      <p>Fax: 555-555-5555</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Please don't hesitate to contact us if you have any concerns
  </p>
</div>
