<!---
 * Title: contact.component.html
 * Author: Alex Haefner
 * Date: 15 August 2021
 * Description: The contact component file for the nodebucket app
 --->

<div class="contact-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 style="text-align: center">Contact Us</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="fas fa-location-arrow text-secondary"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">216 2nd Ave W</li>
            <li class="list-group-item border-0">Oskaloosa, IA 52577</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-phone text-secondary"></i></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Direct: 123-45-7890</li>
              <li class="list-group-item border-0">
                Toll-free: 1-800-555-5555
              </li>
              <li class="list-group-item border-0">Fax: 999-999-9999</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
