<!---
 * Title: base-layout.component.html
 * Author: Alex Haefner
 * Date: 10 November 2021
 * Description: The base-layout component file nodebucket - contains navigation
 * Sources: https://stackoverflow.com/questions/57966302/is-it-possible-in-angular-to-switch-css-styles-dynamically-using-a-toggle-button
 --->

<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>NodeBucket</button>

        <button class="navbar-link" routerLink="/about" mat-button>
          About Us
        </button>
        <button class="navbar-link" routerLink="/contact" mat-button>
          Contact
        </button>
        <button class="navbar-link" mat-button (click)="signOut()">
          Sign Out
        </button>
        <input
          (click)="changeTheme()"
          type="checkbox"
          class="custom-control-input"
          id="customSwitch1"
        />
        <label
          class="custom-control-label"
          for="customSwitch1"
          style="font-size: 14px; justify-content: end"
          id="step7"
          data-step="7"
          data-intro="Also one more thing, if you want to change the current theme, just toggle this"
          >Toggle Styling</label
        >
        <a (click)="this.introJS.start()" class="tutBtn">
          <mat-icon>help_outline</mat-icon>
        </a>
      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
