<!---
 * Title: base-layout.component.html
 * Author: Alex Haefner
 * Date: 27 Sep 2021
 * Description: The base-layout component file for bobs shop - navbar
 --->

 <div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/home" mat-button> NodeBucket</button>

        <button class="navbar-link" routerLink="/about" mat-button>About Us</button>
        <button class="navbar-link" routerLink="/contact" mat-button>Contact</button>
        <!-- Add a Sign-Out Button-->
        <button class="navbar-link" mat-button (click)="signOut()">Sign Out</button>

      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer" style="  position: absolute; bottom: 0; width: 100%;">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
