/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
html {
  background-color: #f6fff8;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 6px 3px 6px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.taskBtn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  cursor: pointer;
}

a.taskBtn {
  text-decoration: none;
  color: #6b9080;
  width: 4em;
  height: 2em;
  background: #eaf4f4;
  position: relative;
  padding: 16px;
  font-size: 1.5em;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px #6b9080, 0px 0px 5px 0px #6b9080;
  transition: all 0.2s;
  top: 10px;
}

a.taskBtn:active {
  top: 15px;
  box-shadow: 0px 5px 0px 0px #6b9080;
}

/*
 Delete button styling
*/
a.deleteBtn {
  cursor: pointer;
  text-decoration: none;
  color: #6b9080;
  width: 4em;
  height: 2em;
  background: #eaf4f4;
  position: relative;
  padding: 6px;
  font-size: 0.9em;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #6b9080, 0px 0px 5px 0px #bbb;
  transition: all 0.2s;
  top: 1px;
}

a.deleteBtn:active {
  top: 2px;
  box-shadow: 0px 2px 0px 0px #6b9080;
}

#deleteBtn {
  cursor: pointer;
  user-select: none;
  top: 1px;
  background: #eaf4f4;
}

/*
 Create task form btns
*/
button.confirmTaskBtn,
button.cancelBtn {
  cursor: pointer;
  text-decoration: none;
  background: #eaf4f4;
  color: #6b9080;
  padding: 6px;
  font-size: 0.9em;
  border-radius: 10px;
  box-shadow: 0px 5px 0px 0px #6b9080, 0px 0px 5px 0px #bbb;
  transition: all 0.2s;
  top: 1px;
}

button.confirmTaskBtn:active,
button.cancelBtn:active {
  top: 2px;
  box-shadow: 0px 3px 0px 0px #6b9080;
}

button.signInBtn {
  cursor: pointer;
  text-decoration: none;
  color: #6b9080;
  width: 4em;
  background: #a4c3b2;
  position: relative;
  padding: 16px;
  font-size: 1.5em;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px #6b9080, 0px 0px 5px 0px #6b9080;
  transition: all 0.2s;
  top: 10px;
  user-select: none;
}

button.signInBtn:active {
  top: 15px;
  box-shadow: 0px 3px 0px 0px #6b9080;
}

a.tutBtn {
  cursor: pointer;
  text-decoration: none;
  color: #6b9080;
  width: 1.5em;
  height: 1.5em;
  background: #eaf4f4;
  position: relative;
  padding: 6px;
  font-size: 0.9em;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #6b9080, 0px 0px 5px 0px #bbb;
  transition: all 0.2s;
  top: 1px;
  left: 75em;
  position: absolute;
  user-select: none;
  margin-top: 0.3em;
}
a.tutBtn:active {
  top: 3px;
  box-shadow: 0px 1px 0px 0px #6b9080;
}

input#customSwitch1 {
  left: 107em;
  position: absolute;
  top: 2em;
}

label#step7 {
  top: .4em;
  left: 100em;
  position: absolute;
}

/* Outline portion of task card */
mat-card.mat-focus-indicator {
  background-color: #eaf4f4;
}

.mat-card {
  border-radius: 16 px;
}

div.title-bar-text {
  text-align: center;
  font-size: 2em;
}

/* Styling for the tasks */
.mat-card-content {
  background-color: #a4c3b2;
}

/* Remove padding on cards */
.mat-card#todoCards.mat-card.mat-focus-indicator.task-card {
  padding: 0%;
}

div .task-container#boundary {
  border: dotted #ccc 2px;
}

/*
 Create task component
*/
.window {
  background-color: #f6fff8;
}

#mat-dialog-0 {
  background-color: #f6fff8;
}

/* Hiding xp buttons */
div.title-bar-controls {
  display: none;
}
