<!---
 * Title: home.component.html
 * Author: Alex Haefner
 * Date: 30 Oct 2021
 * Description: The home component for nodebucket
 * Sources: https://codepen.io/ollybritton/pen/JXYZRo
 --->

<div
  class="window"
  style="margin-left: 10%; width: 80%; margin-top: 5%; overflow: overlay"
>
  <div class="title-bar">
    <div class="title-bar-text">NodeBucket Task Management</div>
  </div>
  <div class="window-body">
    <div fxLayout="column" class="main-welcome">
      <div fxFlex>
        <h1 class="title">
          Welcome to WEB 450's - nodebucket Project <br />
          <span class="subtitle">
            nodebucket changes and improves the way we manage time-sensitive
            tasks.
          </span>
        </h1>
      </div>
      <div fxFlex>
        <div fxLayout="column" fxLayoutGap="15px" class="task-container">
          <a (click)="openCreateTaskDialog()" class="taskBtn"> Create Task </a>
        </div>
      </div>
      <div fxFlex>
        <div
          fxLayout="row"
          fxLayoutGap="15px"
          class="task-container"
          style="margin-top: 5%"
        >
          <div fxFlex>
            <mat-card>
              <mat-card-title>ToDo</mat-card-title>
              <mat-card-content>
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  [cdkDropListConnectedTo]="[doneList, currentList]"
                  (cdkDropListDropped)="drop($event)"
                  (cdkDropListDropped)="($event)"
                >
                  <div
                    *ngFor="let item of todo"
                    style="margin-bottom: 1%"
                    cdkDrag
                  >
                    <!--ToDo Items-->
                    <mat-card class="task-card" id="todotasks">
                      <mat-card-content>
                        <div fxLayout="row">
                          <div
                            fxFlex
                            class="todotasks"
                            [ngClass]="donetasks ? 'green' : 'yellow'"
                          >
                            <p>{{ item.text }}</p>
                            <a
                              type="button"
                              class="deleteBtn"
                              (click)="deleteTask(item._id)"
                            >
                              Delete
                            </a>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <!--End of ToDo items in for loop-->
          <!-- Current row-->
          <div fxFlex>
            <mat-card>
              <mat-card-title>Currently working on</mat-card-title>
              <mat-card-content>
                <div
                  cdkDropList
                  #currentList="cdkDropList"
                  [cdkDropListData]="current"
                  [cdkDropListConnectedTo]="[todoList, doneList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div *ngFor="let item of current" cdkDrag>
                    <mat-card class="task-card">
                      <div fxLayout="row">
                        <div
                          fxFlex
                          class="currentTasks"
                          [ngClass]="
                            todotasks ? 'yellow' : doneTasks ? 'green' : 'red'
                          "
                        >
                          <p>
                            {{ item.text }}
                          </p>
                          <a
                            type="button"
                            class="deleteBtn"
                            (click)="deleteTask(item._id)"
                          >
                            Delete
                          </a>
                        </div>
                      </div>
                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <!-- Done row-->
          <div fxFlex>
            <mat-card>
              <mat-card-title>Done</mat-card-title>
              <mat-card-content>
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  [cdkDropListConnectedTo]="[todoList, currentList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div *ngFor="let item of done" cdkDrag>
                    <mat-card class="task-card">
                      <div fxLayout="row">
                        <div
                          fxFlex
                          class="doneTasks"
                          [ngClass]="todotasks ? 'yellow' : 'green'"
                        >
                          <p>
                            {{ item.text }}
                          </p>
                          <a
                            type="button"
                            class="deleteBtn"
                            (click)="deleteTask(item._id)"
                          >
                            Delete
                          </a>
                        </div>
                      </div>
                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
