<!---
 * Title: home.component.html
 * Author: Alex Haefner
 * Date: 30 Oct 2021
 * Description: The home component for nodebucket
 * Sources: https://codepen.io/ollybritton/pen/JXYZRo | https://introjs.com/ | https://material.angular.io/cdk/drag-drop/overview
 * data-intro (tooltip text), data-step(defines step priority) are attributes used for the tutorial (intro.js)
 --->

<div
  class="window"
  style="margin-left: 10%; width: 80%; margin-top: 5%; overflow: overlay"
>
  <div class="title-bar">
    <div
      class="title-bar-text"
      fxFlex
      id="step1"
      data-intro="!Welcome to nodebucket"
    >
      NodeBucket Task Management
    </div>
  </div>
  <div class="window-body">
    <div
      fxLayout="column"
      class="main-welcome"
      id="step6"
      data-step="6"
      data-intro="If you ever need to remove a task, use the delete button to remove it"
    >
      <div fxFlex>
        <h1 class="title">
          Welcome to WEB 450's - nodebucket Project <br />

          <span class="subtitle">
            nodebucket changes and improves the way we manage time-sensitive
            tasks.
          </span>
        </h1>
      </div>
      <div>
        <div fxLayout="column" fxLayoutGap="15px" class="task-container">
          <a
            (click)="openCreateTaskDialog()"
            class="taskBtn"
            id="step2"
            data-intro="To begin managing tasks, try creating your first one"
          >
            Create Task
          </a>
        </div>
      </div>
      <div fxFlex>
        <div
          fxLayout="row"
          fxLayoutGap="15px"
          class="task-container"
          style="margin-top: 5%"
        >
          <div
            fxFlex
            id="step3"
            data-intro="This is the todo column, where tasks that need started reside"
          >
            <mat-card>
              <mat-card-title>Todo</mat-card-title>
              <mat-card-content>
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  [cdkDropListConnectedTo]="[doneList, currentList]"
                  (cdkDropListDropped)="drop($event)"
                  (cdkDropListDropped)="($event)"
                >
                  <div
                    *ngFor="let item of todo"
                    style="margin-bottom: 1%"
                    cdkDrag
                  >
                    <!--ToDo Items-->
                    <mat-card class="task-card" id="todotasks">
                      <mat-card-content>
                        <div fxLayout="row">
                          <div
                            fxFlex
                            class="todotasks"
                            [ngClass]="donetasks ? 'green' : 'yellow'"
                          >
                            <p id="taskText" class="taskString">
                              {{ item.text }}
                            </p>
                            <a
                              type="button"
                              class="deleteBtn"
                              (click)="deleteTask(item._id)"
                            >
                              Delete
                            </a>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <!--End of ToDo items in for loop-->
          <!-- Current task row-->
          <div
            fxFlex
            id="step4"
            data-intro="Here we have the tasks that are currently being worked on"
          >
            <mat-card>
              <mat-card-title>Currently working on</mat-card-title>
              <mat-card-content id="dropCurrent">
                <div
                  cdkDropList
                  #currentList="cdkDropList"
                  [cdkDropListData]="current"
                  [cdkDropListConnectedTo]="[todoList, doneList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div *ngFor="let item of current" cdkDrag>
                    <mat-card class="task-card">
                      <div fxLayout="row">
                        <div
                          fxFlex
                          class="currentTasks"
                          [ngClass]="
                            todotasks ? 'yellow' : doneTasks ? 'green' : 'red'
                          "
                        >
                          <p class="taskString">
                            {{ item.text }}
                          </p>
                          <a
                            type="button"
                            class="deleteBtn"
                            (click)="deleteTask(item._id)"
                          >
                            Delete
                          </a>
                        </div>
                      </div>
                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <!-- Done row-->
          <div
            fxFlex
            id="step5"
            data-intro="!Tasks that are complete can be placed here"
          >
            <mat-card>
              <mat-card-title>Done</mat-card-title>
              <mat-card-content id="dropDone">
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  [cdkDropListConnectedTo]="[todoList, currentList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div *ngFor="let item of done" cdkDrag>
                    <mat-card class="task-card">
                      <div fxLayout="row">
                        <div fxFlex [ngClass]="todotasks ? 'yellow' : 'green'">
                          <p class="taskString">
                            {{ item.text }}
                          </p>
                          <a
                            type="button"
                            class="deleteBtn"
                            (click)="deleteTask(item._id)"
                          >
                            Delete
                          </a>
                        </div>
                      </div>
                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
